extends layout

include mixinMenu
include mixinAlertInfo

block content
    .min-vh-100
        include adminNavbar
        .container-fluid
            .row
                +mixinMenu(baseUrl)
                main(role="main" class="col-10 bg-white content ml-sm-auto px-3 pt-3")
                    h2(class="h4 mb-3")= msgPageName
                    form(action= actionSubmit method='post')
                        input(type="hidden" name="screenId" class="custom-control-input" value= currentSlide.id_screen)
                        .row
                            .col
                                .form-group
                                    label(for="slideId") Слайд*
                                    select(id="slideId" name="slideId" class="form-control form-control-sm")
                                        each slide in slides
                                            option(selected=(currentSlide.id_slide == slide.id) value= slide.id)= slide.name
                            .col
                                .form-group
                                    label(for='sizeText') Размер текста*
                                    input(id="sizeText" name='sizeText' type="number" min=0 step="any" value= currentSlide.size_text class="form-control form-control-sm" required)
                        .form-group
                            div(class="custom-control custom-checkbox")
                                input(type="checkbox" name="showSlide" class="custom-control-input" id="showSlide" checked= currentSlide.show_slide)
                                label(class="custom-control-label" for="showSlide") Показывать слайд
                        div(class="w-100 text-right")
                            a(href= actionBack class="btn btn-sm btn-outline-secondary mr-3") Назад
                            input(type='submit' class="btn btn-sm btn-success" value= msgCreateBtn)

