doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(content='width' name='MobileOptimized')

    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap&subset=cyrillic-ext")
    link(rel="stylesheet" href="/bootstrap.min.css")
    link(rel="stylesheet" href="/animate.min.css")
    link(rel="stylesheet" href="/currency-flags.min.css")
    link(rel="stylesheet" href="/spectrum.min.css")
    link(rel="stylesheet" href="/stylesheets/admin.css")
    link(rel="stylesheet" href="/stylesheets/screen.css")
    script(src="/jquery.min.js")
    script(src="/bootstrap.min.js")
    script(src="/spectrum.min.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/modals.js")
    block scripts
  body(class="bg-light")
    block content
                     