div( class="modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered" role="document")
        div(class="modal-content")
            form(id="modalDeleteForm" method='post')
                div(class="modal-header")
                    h5(class="modal-title text-truncate" id="modalDeleteTitle")
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body" id='modalDeleteBody')
                div(class="modal-footer")
                    button(type="button" class="btn btn-sm btn-secondary" data-dismiss="modal") Закрыть
                    input(type='submit' class="btn btn-sm btn-danger" value="Удалить")